* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0%;
  padding: 0%;
}

#pierre,
#feuille,
#ciseaux {
  width: 25vw;
  height: 25vh;
}

#center {
  display: flex;
  justify-content: space-around;
  align-items:center;
  margin-top: 25rem;
}